<!--package tab-->

<div class="tab-pane" id="packages">
    <div>
        <div class="search-packages">
            <input class="form-control" type="search" ng-model="packageQuery"
                               placeholder="Search packages">
        </div>
        <div class="install-package">
            <button class="btn btn-primary install-package-button"
                    ng-click="chooseAndInstallPackage();">
                Install Package
            </button>
        </div>
        <table class="table table-condensed table-hover">
            <thead>
            <tr class="active">
                <th>PACKAGE</th>
                <th>CLEAR DATA</th>
                <th>UNINSTALL</th>
                <th>FORCE-STOP</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="package in packages | filter:packageQuery">
                <td>
                <a href="#packages" data-toggle="modal" data-target="#appInfoModal"
                   ng-click="showAppInfos(devInfo.serial, package);">                    
                   {{ package }}
                </a>
                </td>
                <td class="text-center">
                    <button class="btn btn-warning"
                            ng-click="setPackageCommandInfo(0, devInfo.serial, package);"
                            data-toggle="modal" data-target="#alertModal">
                        <span class="glyphicon glyphicon-floppy-remove"></span>
                    </button>
                </td>
                <td class="text-center">
                    <button class="btn btn-danger"
                            ng-click="setPackageCommandInfo(1, devInfo.serial, package);"
                            data-toggle="modal" data-target="#alertModal">
                        <span class="glyphicon glyphicon-trash"></span>
                    </button>
                </td>
                <td class="text-center">
                    <button class="btn btn-info"
                            ng-click="setPackageCommandInfo(2, devInfo.serial, package);"
                            data-toggle="modal" data-target="#alertModal">
                        <span class="glyphicon glyphicon-ban-circle"></span>
                    </button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<!--package meminfo dialog-->

<div class="modal fade" id="appInfoModal" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"
                        aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">{{ appInfo.packageName }}</h4>
            </div>
            <h4>Runtime Permissions:</h4>
            <table class="table table-condensed table-hover">
              <thead>
                <tr class="active">
                  <th>PERMISSION</th>
                  <th>GRANTED</th>
                  <th>FLAGS</th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="permission in appInfo.runtimePermissions">
                    <td>
                      {{ permission.permission }}
                    </td> 
                    <td class="text-center">
                      <input type="checkbox" ng-model="permission.granted" 
                        ng-change="setAppPermission(appInfo, permission.permission, permission.granted)"/>
                    </td> 
                    <td class="text-center">
                      {{ permission.flags }}
                    </td> 
                </tr>
              </tbody>
            </table>
        </div>
    </div>
</div>



